set timeout=5
set default=0

# Try to set a VESA graphics mode and keep framebuffer for the kernel
set gfxmode=800x600x32
set gfxpayload=keep

menuentry "Crusader OS (VESA mode)" {
    multiboot /boot/kernel.elf
    boot
}

menuentry "Crusader OS (text mode fallback)" {
    multiboot /boot/kernel.elf
    boot
}
